@import '../../styles.scss';
.footer {
    background-color: #3952bf;
    width: 100%;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    padding: 20px;
}

.nav-item a {
    color: rgb(250, 250, 250);
}

.nav-item p {
    color: white
}
