<div class="footer">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link">© TUCOCHE 2021 TODOS LOS DERECHOS RESERVADOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Términos y condiciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Aviso legal </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Política de privacidad y cookies</a>
        </li>
    </ul>
</div>