<div class="box-coches">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imagen</th>
                <th scope="col">Titulo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let coche of coches; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td><img class="img-tabla" src="{{coche.photo}}" atl="portada-anuncio"></td>
                    <td>{{coche.titulo}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-table "><fa-icon [icon]="faShow"></fa-icon></button>
                        <button type="button" class="btn btn-success btn-table "><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button type="button" class="btn btn-danger btn-table "><fa-icon [icon]="faDelete"></fa-icon></button>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>