@import '../../styles.scss';
.btn-coche {
    background-color: #004aad;
    color: #fff!important;
    margin-left: 6px;
    &:hover {
        border: 1px solid #004aad;
        color: #004aad!important;
        background: #fff;
    }
}

.nav-item a {
    color: #004aad;
    font-weight: 600;
    &:hover {
        color: #2978df;
        font-weight: bold;
        border-bottom: 2px solid #004aad;
    }
}

.active {
    border-bottom: 2px solid #004aad;
    border-width: 30%;
}

.header-top {
    background-color: $azul;
    .nav-link {
        color: white;
        font-size: 17px;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}

.container-header {
    background: #fff;
}
