<div class="container">
    <h2>Mis datos personales</h2>
    <form>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="user-name" placeholder="Nombre">
            <label for="user-name">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="user-apellidos" placeholder="Apellidos">
            <label for="user-apellidos">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="user-email" placeholder="Email">
            <label for="user-email">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="user-telefono" placeholder="Telefono">
            <label for="user-telefono">Telefono</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="user-localidad" placeholder="Localidad">
            <label for="user-localidad">Localidad</label>
        </div>
        <button type="button" class="btn btn-success float-end btn-table">Guardar cambios</button>
    </form>
</div>