@import '../../styles.scss';
.img-car {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-t {
    font-size: 14px;
    color: #989898;
    font-weight: 400;
}

.text-d {
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.box-detail {
    background: #eaeaea;
    padding: 45px;
}

.contacto {
    h2 {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: $azul;
    }
    .btn-contacto {
        background-color: $azul;
        color: #fff;
        text-align: center;
        width: 100%;
        fa-icon.ng-fa-icon {
            margin-right: 10px;
        }
    }
}

.ficha {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.carousel-control-next-icon {
    background-color: #0000ff54 !important;
}

.carousel-control-prev-icon {
    background-color: #0000ff54 !important;
}
