<div class="container box-detail" *ngFor="let c of coche">
    <div class="row">
        <!-- <div *ngIf="c.photo" class="col-12 col-sm-9 col-lg-9 img-car" [ngStyle]="{'background-image': 'url('+ c.photo + ')' }">
        </div>
        <div *ngIf="!c.photo" class="col-12 col-sm-9 col-lg-9 img-car" style="background-image: url('../../assets/images/notphoto.png');">
        </div>-->
        <div class="col-12 col-sm-9 col-lg-9">
            <div *ngIf="c.galeria" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{c.photo}}" class="img-car" alt="portada">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000" *ngFor="let img of c.galeria">
                        <img src="{{img}}" class="img-car" alt="coche-galeria">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
            <div *ngIf="!c.galeria">
                <div *ngIf="c.photo" class="img-car" [ngStyle]="{'background-image': 'url('+ c.photo + ')' }">
                </div>
                <div *ngIf="!c.photo" class="img-car" style="background-image: url('../../assets/images/notphoto.png');">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-3 contacto">
            <h2>Contacta con el vendedor</h2>
            <form id="contacto" [formGroup]="sForm" (ngSubmit)="contacto()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-name" placeholder="Nombre" formControlName="nombre" [ngClass]="{'is-invalid': f.nombre.errors && isSend}">
                    <label for="user-name">Nombre * </label>
                    <div class="invalid-feedback ">
                        Nombre debe tener dos letras
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-email" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && isSend}">
                    <label for="user-email">Tu email * </label>
                    <div class="invalid-feedback ">
                        Email Invalido
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-phone" placeholder="Telefono" formControlName="telefono" [ngClass]="{'is-invalid': f.telefono.errors && isSend}">
                    <label for="user-name">Tu telefono</label>
                    <div class="invalid-feedback ">
                        Debe ser un telefono de 9 cifras
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Estoy interesado/a en este vehiculo" id="comentarios" style="height: 100px; margin-bottom: 15px;" formControlName="description" [ngClass]="{'is-invalid': f.description.errors && isSend}"></textarea>
                    <label for="comentarios">Comentario *</label>
                    <div class="invalid-feedback ">
                        Tiene contener minimo 10 caracteres
                    </div>
                </div>
                <button type="submit" class="btn btn-contacto"><fa-icon [icon]='faContacto'></fa-icon>Contactar</button>
            </form>
        </div>
        <div class="col-12 box-details mt-3">
            <div class="row">
                <div class="col-12">
                    <h2>{{c.titulo}}</h2>
                </div>
                <div class="row ficha">
                    <div class="col-4 datos-coche">
                        <p class="text-t">Marca</p>
                        <p *ngIf="c.marca" class="text-d">{{c.marca}}</p>
                        <p *ngIf="!c.marca" class="text-d">---</p>
                    </div>
                    <div class="col-4 datos-coche">
                        <p class="text-t">Modelo</p>
                        <p *ngIf="c.modelo" class="text-d">{{c.modelo}}</p>
                        <p *ngIf="!c.modelo" class="text-d">---</p>
                    </div>
                    <div class="col-4 datos-coche">
                        <p class="text-t">Tipo de marchas</p>
                        <p *ngIf="c.cambio" class="text-d">{{c.cambio}}</p>
                        <p *ngIf="!c.cambio" class="text-d">---</p>
                    </div>
                    <div class="col-4 datos-coche">
                        <p class="text-t">km</p>
                        <p *ngIf="c.km" class="text-d">{{c.km}}</p>
                        <p *ngIf="!c.km" class="text-d">---</p>
                    </div>
                    <div class="col-4 datos-coche">
                        <p class="text-t">Año</p>
                        <p *ngIf="c.anno" class="text-d">{{c.anno}}</p>
                        <p *ngIf="!c.anno" class="text-d">---</p>
                    </div>
                    <div class="col-4 datos-coche">
                        <p class="text-t">Precio</p>
                        <p *ngIf="c.precio" class="text-d">{{c.precio}} €</p>
                        <p *ngIf="!c.precio" class="text-d">---</p>
                    </div>
                    <div class="col-4 datos-coche">
                        <p class="text-t">Localidad</p>
                        <p *ngIf="c.localizacion" class="text-d">{{c.localizacion}}</p>
                        <p *ngIf="!c.localizacion" class="text-d">---</p>
                    </div>
                    <div class="col-12 datos-coche">
                        <p class="text-t">Descripcion</p>
                        <p *ngIf="c.descripcion" class="text-d">{{c.descripcion}}</p>
                        <p *ngIf="!c.descripcion" class="text-d">---</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
