@import '../../styles.scss';
.menu-panel {
    background-color: $azul;
    height:fit-content;
    border-radius: 15px;
}

.panel li {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    list-style: none;
    margin-top: 20px;
    a {
        color: white;
        text-decoration: none;
    }
    ;
}

nav {
    padding-right: 30px
}

.logout {
    li {
        list-style: none;
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.box-panel {
    min-height: 70vh;
}
