<div class="container box-panel">
    <div class="row">
        <div class="col-3 menu-panel">
            <nav class="main-menu">
                <ul class="panel">
                    <li class="has-subnav ">
                        <a [routerLink]="[ '/panel/all'] ">
                            <fa-icon [icon]="faCar "></fa-icon>
                            <span class="nav-text ">
                                Mis anuncios
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a [routerLink]="['/panel/coche/detail']">
                            <fa-icon [icon]=" faAnuncio "></fa-icon>
                            <span class="nav-text ">
                              Nuevo anuncio
                          </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a [routerLink]="['/panel/perfil']">
                            <fa-icon [icon]=" faPerfil "></fa-icon>
                            <span class="nav-text ">
                                Mi perfil
                            </span>
                        </a>

                    </li>

                </ul>

                <ul class="logout ">
                    <li>
                        <a class="link-logout" (click)="closeSession()">
                            <fa-icon [icon]="faLogout "></fa-icon>
                            <span class="nav-text ">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
