<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3 col-lg-3 box-search">
            <form [formGroup]="sForm" (ngSubmit)="search()">
                <div class="row">
                    <div class="col-6">
                        <p>Tu busqueda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 search-colum">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingClave" placeholder="Palabra Clave" formControlName="filter">
                            <label for="floatingClave">Palabra Clave</label>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                          Coche, Modelo ...
                        </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <div class="col-12 search-colum">
                                        <p>Marcas</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="marca" placeholder="Marca" formControlName="marca">
                                            <label for="marca">Marca</label>
                                        </div>
                                    </div>
                                    <div class="col-12 search-colum">
                                        <p>Modelo</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="modelo" placeholder="Modelo" formControlName="modelo">
                                            <label for="modelo">Modelo</label>
                                        </div>
                                    </div>
                                    <div class="col-12 search-colum">
                                        <p>Provincia</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="location" placeholder="Localizacion" formControlName="location">
                                            <label for="location">Localización</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                  Precio, km , año ...
                        </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <div class="col-12 search-colum">
                                        <p>KM</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingkmInicial" placeholder="Km desde" formControlName="kmInicial">
                                            <label for="floatingkmInicial">Km desde</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingkmFinal" placeholder="hasta" formControlName="kmFinal">
                                            <label for="floatingkmFinal">hasta</label>
                                        </div>
                                    </div>

                                    <div class="col-12 search-colum">
                                        <p>Precio</p>
                                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                                    </div>

                                    <div class="col-12 search-colum">
                                        <p>Año</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingannoInicial" placeholder="Km desde" formControlName="annoInicial">
                                            <label for="floatingannoInicial">Año desde</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingannoFinal" placeholder="hasta" formControlName="annoFinal">
                                            <label for="floatingannoFinal">hasta</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                         Tipo de Combustible, color ..
                        </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <div class="col-12 search-colum">
                                        <p>Combustible</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="combustible" placeholder="combustible" formControlName="combustible">
                                            <label for="combustible">Combustible</label>
                                        </div>

                                    </div>
                                    <div class="col-12 search-colum">
                                        <p>Nº de puertas</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="npuertas" placeholder="npuertas" formControlName="npuertas">
                                            <label for="npuertas">Nº de puertas</label>
                                        </div>
                                    </div>
                                    <div class="col-12 search-colum">
                                        <p>Nº de plazas</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="nplazas" placeholder="nplazas" formControlName="nplazas">
                                            <label for="nplazas">Nº de plazas</label>
                                        </div>
                                    </div>
                                    <div class="col-12 search-colum">
                                        <p>Tipo de cambio</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="cambio" placeholder="cambio" formControlName="cambio">
                                            <label for="cambio">Tipo de cambio</label>
                                        </div>
                                    </div>
                                    <div class="col-12 search-colum">
                                        <p>Color</p>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="color" placeholder="color" formControlName="color">
                                            <label for="npuertas">Color</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-search btn2" type="submit">Buscar</button>
                        </div>
                    </div>



                </div>

            </form>

        </div>
        <div class="col-12 col-sm-9 col-lg-9 box-content">

            <div class="list">
                <ul>
                    <li *ngFor="let coche of cochesAll | paginate: { itemsPerPage: 10, currentPage: p}">
                        <div class="link-car">
                            <div class="row">
                                <div class="col-10 row detail-car p-3" (click)="navigateToCar(coche._id)">
                                    <div *ngIf="coche.photo" class="col-12 col-sm-3 img-car" [ngStyle]="{'background-image': 'url('+ coche.photo + ')' }">
                                    </div>
                                    <div *ngIf="!coche.photo" class="col-12 col-sm-3 img-car" style="background-image: url('../../assets/images/notphoto2.png');">
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <div class="box-price">

                                            <span class="text-tittle">Precio</span><br>
                                            <span class="price">{{coche.precio}} €</span>

                                        </div>
                                        <h2>{{coche.titulo}}</h2>
                                        <div class="box-details">
                                            <ul class="nav justify-content-left">
                                                <li class="nav-item">
                                                    <p class="details">{{coche.localizacion}}</p>
                                                </li>
                                                <li class="nav-item">
                                                    <p class="details">{{coche.cambio}}</p>
                                                </li>
                                                <li class="nav-item">
                                                    <p class="details">{{coche.anno}}</p>
                                                </li>
                                                <li *ngIf="coche.km" class="nav-item">
                                                    <p class="details">{{coche.km}} km</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div *ngIf="coche.favorito" (click)="deleteFav(coche._id)" class="float-end favoritos isfavorito">
                                        <fa-icon [icon]="faFav"></fa-icon>
                                    </div>
                                    <div *ngIf="!coche.favorito" (click)="addFav(coche._id)" class="float-end favoritos">
                                        <fa-icon [icon]="faFav"></fa-icon>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

                <pagination-controls (pageChange)="p= $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>

        </div>
    </div>
</div>
