@import '../../styles.scss';
.ngx-slider .ngx-slider-bubble {
    cursor: default !important;
    bottom: 23px !important;
    padding: 2px 3px !important;
    color: #55637d !important;
    font-size: 12px !important;
}

.details {
    border-left: 1px solid #bfbfbf;
    color: #888;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
    cursor: pointer;
}

.favoritos {
    font-size: 28px;
    &:hover {
        color: $azul;
    }
}

.link-car {
    border-radius: 10px;
    background-color: #fff;
    &:hover {
        box-shadow: 0 0 20px 5px #0084ff47;
    }
    .detail-car {
        background-color: white;
        border-radius: 10px;
        .img-car {
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            background-size: cover;
            border-radius: 5px;
            @media (max-width: 767px) {
                height: 250px;
            }
        }
        span.price {
            color: $azul;
            font-family: Montserrat, Open Sans, Helvetica, Arial, sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.36;
            cursor: default;
            &:hover {
                color: rgb(17, 151, 40);
            }
        }
    }
}

.search-colum {
    margin-bottom: 20px;
}

.box-content {
    li {
        list-style: none;
        margin-bottom: 15px;
    }
}

.btn-search {
    color: #fff;
    background-color: $azul;
    float: right;
}

.btn2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 13px;
}
