<div class="box-home-search">
    <div class="buscador-home">

        <div class="container">
            <div class="row">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-coche" type="button"><fa-icon [icon]='car'></fa-icon></button>
                    </div>
                    <input type="text" class="form-control seach-home" placeholder="Busca tu coche">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="box-home m-4">
        <div class="row">
            <div class="HomeCategorias col-6">
                <div class="HomeCategorias-first img-categoria">
                    <h2>Coches de <br>SEGUNDA MANO</h2>
                </div>
            </div>
            <div class="HomeCategorias col-6">
                <div class="HomeCategorias-second img-categoria">
                    <h2>Coches de <br>KM0</h2>
                </div>
            </div>
            <div class="HomeCategorias col-6">
                <div class="HomeCategorias-third img-categoria">
                    <h2>Coches <br>NUEVOS</h2>
                </div>
            </div>
            <div class="HomeCategorias col-6">
                <div class="HomeCategorias-fourth img-categoria">
                    <h2>Vehículos<br>INDUSTRIALES</h2>
                </div>
            </div>
        </div>
    </div>
</div>