@import '../../styles.scss';
.HomeCategorias-first {
    background-image: url('../../assets/images/portada1.jpg');
    height: 200px;
}

.HomeCategorias-second {
    background-image: url('../../assets/images/portada2.jpg');
    height: 200px;
}

.HomeCategorias-third {
    background-image: url('../../assets/images/portada3.jpg');
    height: 200px;
}

.HomeCategorias-fourth {
    background-image: url('../../assets/images/portada4.jpg');
    height: 200px;
}

.HomeCategorias {
    color: white;
    display: flow-root;
    position: relative;
    padding: 5px;
    border-radius: 10px;
    .img-categoria {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all .3s ease;
        position: relative;
        border-radius: 10px;
        &:hover {
            box-shadow: 0px 2px 18px rgba(73, 73, 98, 0.4);
            margin-top: -5px;
        }
        h2 {
            align-items: flex-end;
            justify-content: flex-start;
            padding: 8px;
            padding-top: 108px;
            padding-left: 20px;
            text-align: left;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }
}

.btn-coche {
    background-color: rgb(12, 152, 245);
    color: white!important;
    border: 1px solid white;
}

.box-home-search {
    background: rgb(0, 74, 173);
    background: radial-gradient(circle, rgba(0, 74, 173, 1) 0%, rgba(0, 85, 173, 1) 0%, rgba(0, 74, 173, 1) 100%);
    height: 72px;
    margin-bottom: 10px;
}

.buscador-home {
    padding-top: 17px;
}

.ventajas {
    h2 {
        text-align: center;
        color: rgba(0, 0, 0, 0.842);
    }
    .icono {
        font-size: 100px;
        color: $azul;
        margin-left: 15%;
    }
}

.vendetucoche {
    margin-top: 30px;
    h2 {
        text-align: center;
        color: rgba(0, 0, 0, 0.842);
    }
    h3 {
        font-size: 16px;
        color: #000000b3
    }
    .icono {
        font-size: 100px;
        color: $azul;
        margin-left: 34%;
    }
    p {
        text-align: center;
    }
    .btn-anunciate {
        border: 1px solid $azul;
        text-align: center;
        width: 100%;
        font-weight: bold;
        color: $azul;
        &:hover {
            background-color: $azul;
            color: #ffff;
        }
    }
}

.informacion {
    .visita {
        text-align: center;
        height: 200px;
        margin-top: 10px;
        padding: 34px;
        button {
            border: 1px solid $azul;
            background: $azul;
            color: #fff;
            &:hover {
                background: #ffff;
                color: $azul;
            }
        }
    }
    .contacto {
        border-radius: 5px;
        padding: 34px;
        text-align: center;
        background-color: $azul;
        color: white;
        height: 200px;
        button {
            border: 1px solid #fff;
            background: #fff;
            color: $azul;
            &:hover {
                background: $azul;
                color: #fff;
            }
        }
    }
}
