<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-4 col-lg-4">
            <a href="/">
                <img src="../../assets/images/logo.png">
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-sm-6 col-lg-6">
            <form [formGroup]="sForm" (ngSubmit)="saveUsuario()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-name" placeholder="Nombre" formControlName="nombre">
                    <label for="user-name">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-apellidos" placeholder="Apellidos" formControlName="apellidos">
                    <label for="user-apellidos">Apellidos</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-email" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': f.email.errors}">
                    <label for="user-email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-telefono" placeholder="Telefono" formControlName="telefono" [ngClass]="{'is-invalid': f.telefono.errors}">
                    <label for="user-telefono">Telefono</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="user-pw" placeholder="Contraseña" formControlName="password">
                    <label for="user-pw">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-localidad" placeholder="Localidad" formControlName="localidad" [ngClass]="{'is-invalid': f.localidad.errors}">
                    <label for="user-localidad">Localidad</label>
                </div>
                <button type="submit" class="btn btn-registro">Registrase</button>
            </form>
        </div>

    </div>
